@model Sella_DashBoard.Models.Images

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Images</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit" enctype="multipart/form-data" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="ImageURL" class="control-label"></label>
                <input type="file" asp-for="ImageURL" class="form-control" multiple />
                <span asp-validation-for="ImageURL" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ProductID" class="control-label">Product Name</label>
                <select asp-for="ProductID" class="form-select" asp-items="ViewBag.products as SelectList"></select>
                <span asp-validation-for="ProductID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

