@page
@model ForgotPasswordModel
@{
    ViewData["Title"] = "Forgot your password?";
}


<div class="row justify-content-center">
    <div class="col-md-5 border border-2 p-4">
        <h2 class="text-center text-danger">@ViewData["Title"]</h2>
        <h2 class="text-center text-danger"> You can contact the owner.</h2>
        <hr />
        <ul>
            <li class="text-primary h5">ENG - Zeyad Mohsen</li>
            <li class="text-primary h5">Phone - 01011583454</li>
            <li class="text-primary h5">Email - zeyadmohsen1999@gmail.com</li>
        </ul>
        
        @*<form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
            <div class="form-floating mb-3">
                <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" placeholder="Please inter the Owner Email" />
                <label asp-for="Input.Email" class="form-label"></label>
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>
            <button type="submit" class="w-100 btn btn-lg btn-danger mb-3">Reset Password</button>
        </form>*@
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
