@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4 text-primary mt-5">Welcome To Sella DashBoard </h1>
    <h3 class="text-danger">This Project is Supervised by Eng/Mrihan Mohammed</h3>
</div>
